body { padding-top: 50px; }
#main-information tr td:last-child { padding-left: 15px; }
#footer { text-align: right; color: #777777; font-size: .8em; padding-right: 5px; }
.italic { font-style:italic }
.progress { border: 1px solid #000000; margin-bottom: 0; height: 34px; position: relative; background-image: none; background-color: #8D8D8D; }
.progress span { position: absolute; text-align: center; width: 100%; left: 0; color: #ffffff; line-height: 28px; font-size: 14px; }
#progress-disk-size { height: 24px; width: 180px; margin: 5px 0;}
#progress-disk-size span { line-height: 24px;}
.tablesorter thead .disabled {display: none}
div.content {
    padding: 10px;
}
.delete {
    cursor: pointer;
}
.directory, .open-directory {
    cursor: pointer;
}
.navbar div.warning {
    background-color: #fcf8e3;
    padding: 3px 10px;
    text-align: center;
}
.bs-callout {
    padding: 8px;
    margin: 5px 0 15px 0;
}
div#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    display: none;
    opacity: 0;
    height: 100%;
    z-index: 5000;
}
div#loading span {
    margin-top: 70px;
    text-align: center;
    display: block;
    font-size: 2.2em;
    color: white;
}
div#notifications div.notification {
    padding: 3px 10px;
    text-align: center;
    border-bottom: 1px solid transparent;
}
div#notifications div.notification-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
div#notifications div.notification-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
div#notifications div.notification span.glyphicon-remove {
    cursor: pointer;
    float: right;
    line-height: 16px;
}
div#loading img {
    display: block;
    margin: 0 auto;
}
td { vertical-align: inherit !important; }
@media screen and (max-width: 980px) {
    body { padding-top: 0; }
}
@media screen and (min-width: 980px) {
    div#content { margin-top: 20px; }
}
@media screen and (max-width: 768px) {
    div#content { margin: 0 -20px; }
}